{% extends "base.html.twig" %}

{% block javascripts_bottom %}
    {% javascripts '@theme_js' %}<script src="{{ asset_url }}"></script>{% endjavascripts %}
{% endblock %}

{% block stylesheets %}
    {% stylesheets '@theme_css' filter='cssrewrite' %}<link rel="stylesheet" href="{{ asset_url }}" />{% endstylesheets %}
    {% stylesheets '@global_css' filter='cssrewrite' %}<link rel="stylesheet" href="{{ asset_url }}" />{% endstylesheets %}
{% endblock %}

{% block body %}
    <!-- begin #page-container -->
    <div id="page-container" class="page-sidebar-fixed page-header-fixed">
        <!-- begin #content -->
        <div id="content" class="content">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}