{% extends "AppBundle::xhr_layout.html.twig" %}

{% block content %}
    <div id="content" class="content">
        {% include 'AppBundle::_partials/breadcrumb.html.twig' with {'title': 'wall.title', 'subtitle': 'wall.desc'} %}
        {% block wall_content %}
        <div class="row">
            {% include "AppBundle:Social:wall_profile.html.twig" %}
            {% include "AppBundle:Social:wall_content.html.twig" %}
        </div>
        {% endblock wall_content %}
    </div>
{% endblock %}

{% block javascripts_bottom %}
<script>
    $(document).ready(function() {
        {% if userId is not null %}
            handleUser({{ userId }});
        {% endif %}
    });
</script>
{% endblock %}


