{% extends "AppBundle::xhr_layout.html.twig" %}

{% block content %}
    <div id="content" class="content">
        {% include 'AppBundle::_partials/breadcrumb.html.twig' with {'title': 'profile.management.title', 'subtitle': 'profile.management.desc'} %}
        {% block fos_user_content %}
            {% include "FOSUserBundle:Profile:edit_content.html.twig" %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}


