<div class="col-md-8">
    {% embed 'AppBundle::_partials/panel.html.twig' with {'title': 'wall.wall.title'} %}
        {% block panel_content %}
            test user
        {% endblock %}
    {% endembed %}
</div>