{% block breadcrumb %}
    <!-- begin breadcrumb -->
    <ol id="breadcrumb" class="breadcrumb pull-right"></ol>
    <!-- end breadcrumb -->
    <!-- begin Page Header -->
    <h1 class="page-header">{{ title|trans }} <small>{{ subtitle|trans }}</small></h1>
    <!-- end Page Header -->
{% endblock %}