<div class="panel-head">
    <div class="p-t-15 p-b-15">
        <h4 class="panel-head-title"><strong>{{ title|trans }}</strong></h4>
        {% block panel_content %}{% endblock %}
    </div>
</div>
