<div class="panel panel-inverse">
    <div class="panel-heading">
        <div class="panel-heading-btn"></div>
        <h4 class="panel-title"><strong>{{ title|trans }}</strong></h4>
    </div>
    <div class="panel-body panel-form">
        {% block panel_content %}{% endblock %}
    </div>
</div>
