<div class="hide">
    <span data-toastrid="success">
        {{ 'toastr.success'|trans }}
    </span>
    <span data-toastrid="error">
        {{ 'toastr.error'|trans }}
    </span>
    <span data-toastrid="warning">
        {{ 'toastr.warning'|trans }}
    </span>
</div>