{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
    <div class="form-group">
        {% if invalid_username is defined %}
            <div class="m-b-15 text-danger">
                {{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}
            </div>
        {% endif %}
        <input class="form-control" type="text" id="username" name="username" required="required"
               placeholder="{{ 'resetting.request.username'|trans({}, 'messages') }}" />
    </div>
    <div>
        <input  class="btn btn-theme btn-block btn-lg"
                type="submit" value="{{ 'resetting.request.submit'|trans }}" />
    </div>
</form>
